.carousel{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.carousel div{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin:2%;
}


.kort{
    display: flex;
    align-items: center;
    flex-direction:column;

    transform:scale(1);
    transition: 0.5s ease-in-out;
}

.kort:hover{
    transform:scale(1.1);
}

/*
.fa-angle-left, .fa-angle-right{
    color: #565656;
    transition: 0.5s ease-in-out;
}

.fa-angle-left:hover, .fa-angle-right:hover{
    color: #e72860;
}*/







