#carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#carousel div{
    display: flex;
    width: 50%;
    margin:5%;
}

#carousel div img{
    transform:scale(1);
    transition: 0.5s ease-in-out;
}

#carousel div img:hover{
    transform:scale(2);
}


