#carousel{
    display: flex;
    align-items: center;
    flex-direction: column;
}


#carousel div{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin:2%;
}


.kort{
    display: flex;
    align-items: center;
    flex-direction:column;
    text-align: center;
    background-color: #f6f5ed;
    border-radius: 60px;
 
    opacity: 0.5;

    transform:scale(1);
    transition: 0.5s ease-in-out;

}

.kort:hover{
    transform:scale(1.1);
    opacity: 1.0;
}

#arrow-left, #arrow-right{
    position:relative;
    top:120px;
    color:#565656;

    transition: 0.5s ease-in-out;
}

#arrow-left:hover, #arrow-right:hover{
    color:#e72860;

}

#arrow-right:hover{
    animation: slideright 0.5s 0s 1 forwards;
}

#arrow-left:hover{
    animation: slideleft 0.5s 0s 1 forwards;
}


@keyframes slideright{
    0%{
        transform: translateX(0);
    }


    100%{
        transform:translateX(10px);
    }

}

@keyframes slideleft{
    0%{
        transform: translateX(0);
    }

    100%{
        transform:translateX(-10px);
    }
}








