*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



header > div {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;

    margin-left: 10%;
    margin-right: 10%;
}

.logo{
    width:15%;
}

header > nav{
    /*Har lige skjult burgermenu så vi kan fokusere på andre elementer først*/
    display:none;
}

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    height:200px;
    align-items: center;

    color:#565656;


    margin-left: 10%;
    margin-right: 10%;
}

footer h3{
    font-size: 12pt;
    font-weight: 400;
    line-height: 24px;
}

.fa-brands{
    color: #E72860;
    padding: 10px;
}



