* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #f6f5ed;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;

  font-family: "Kanit", sans-serif;
  /*OVERSKRIFT FARVE*/
  color: #565656;
}

main {
  height: auto;
}

/*testing*/
section {
  height: 100px;
}

#test {
  background-color: aqua;
  width: 100%;
  height: 600px;

  display: flex;
  justify-content: center;
}

.dark_back {
  background-color: #ebeae1;
}
