* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #f6f5ed;
  padding-top: 3%;
  font-family: "Kanit", sans-serif;
  /*OVERSKRIFT FARVE*/
  color: #565656;
}

main {
  height: auto;
}

h1 {
  font-size: 2.5vw;
  font-weight: 500;
}

h3 {
  font-size: 1.1vw;
  font-weight: 500;
}

p {
  font-size: 1vw;
  font-weight: 400;

}

.dark_back {
  background-color: #ebeae1;
}

/*FORSØG PÅ STYLING AF 4X4 SEKTIONEN*/
.vejrtrækningsøvelse {
  display: flex;
  justify-content: left;
  padding-left: 10px;
  padding-right: 50px;

  background-color: #ad6569;
  color: white;
}

/*Claras hack section*/
#hack_section h1,
#hack_icons {
  margin-top: 100px;
}

#hack_icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

/* Introduktion til Clara*/
#introClara {
  width: 80%;
  margin: auto;
}

.toKolonner {
  display: flex;
  width: 80%;
  margin: auto;
}

.toKolonner div {
  width: 50%;
}

#hack_icons div {
  width: 20%;
}
