* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #f6f5ed;
  padding-top: 3%;
  font-family: "Kanit", sans-serif;
  /*OVERSKRIFT FARVE*/
  color: #565656;
}

main {
  height: auto;
}
/*Hvis der ikke skal stå mere i main og section, 
så kan vi godt spare plads og skrive de to i sammen*/
section{
  height:auto;
}

/*STYLING AF VEJRTRÆKNINGSØVELSE 4x4*/
.vejrtrækningsøvelse {
  display: flex;
  height: auto;


  border-radius: 20px;
  padding: 20px;

  margin:10%;
  /*margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;*/
}

.vejrtrækningsøvelsetekst {
  background-color: #AD6569;
  color: white; /*Anden tekstfarve?*/

  border-radius: 50px;
  padding:5%;
  width:50%;

  margin-right:5%;
}

#clara_portraits{
  display:flex;
  flex-direction: row;
  
  position:relative;
  top:10%;
}

h1 {
  font-size: 2.5vw;
  font-weight: 500;

}

h3 {
  font-size: 1.1vw;
  font-weight: 500;
}

p {
  font-size: 1vw;
  font-weight: 400;

}

.dark_back {
  background-color: #ebeae1;
}

/*Claras hack section*/
#hack_section h1,
#hack_icons {
  margin-top: 100px;
}

#hack_icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

#hack_icons div {
  width: 20%;
}

/* Introduktion til Clara*/
#introClara {
  width: 80%;
  margin: auto;

}

.toKolonner {
  display: flex;
  width: 80%;
  margin: auto;
}

.toKolonner div {
  width: 50%;
}

#angstAfsnit {
  display: flex;
}
#angstAfsnit p {
width: 80%;
margin-right: 2vw;
}


#tegningGif {
  padding-left: 4vw;
  padding-right: 4vw;
}

#tegningGif img {
  transform: rotate(-10deg);
}


